/*=============================================
*            Popup Styles: custom            *
=============================================*/
main.container {
    padding-bottom: 12px;
    padding-top: 12px;
}

main h2 {
    margin-bottom: 0;
}

.switch-grid {
    grid-template-columns: max-content 1fr;
}

.switch-grid > div:last-child {
    justify-self: end;
}

#toggle-switches-container {
    grid-row-gap: 8px;
    padding-bottom: 12px;
    padding-top: 12px;
}

#popup-message h4 {
    margin-bottom: 12px;
}

#error-message {
    color: var(--error-message-color);
}

#selected-theme {
    color: var(--primary);
}
